<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEARCH</title>

    <script type="text/javascript" nonce="4545bbb780294c3ea042e74a9e4" src="//local.adguard.org?ts=1728568891105&amp;type=content-script&amp;dmn=cdn.discordapp.com&amp;url=https%3A%2F%2Fcdn.discordapp.com%2Fattachments%2F1154082276456538142%2F1293999800588697660%2Fsearch.html%3Fex%3D67096ab9%26is%3D67081939%26hm%3Df549d8dc174886b5968f6fa7ef3ea2451e18ac53c0f891b278f273723e48dd07%26&amp;app=chrome.exe&amp;css=3&amp;js=1&amp;rel=1&amp;rji=1&amp;sbe=1"></script>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="header">
        <h2><a href="{% url 'index' %}"><img src="../../../static/img/logo_img-200w.png" style="width: 40px; height: 40px;"></a></h2>
        <h1 id="h1_t">Traveler</h1>
        
    </div>



    {% if user.is_authenticated %}
        <form action="{% url 'SearchUrl' %}" method="post">
            {% csrf_token %}
            <div id ="bg">
                <select id = "select" name="search_category" class="search-item">
                    <option value="None">없음</option>
                    <option value="Name">이름</option>
                    <option value="Location">주소</option>
                </select>
                <input id="Serch_input" name="search_text" type="text" placeholder="검색어를 입력하세요." class="search-item">

                <button id="SerchB" type="submit" name="search" value="search" class="search-item">
                    <i class="fas fa-search"></i> 검색
                </button>
            </div>

        </form>

        <h2> Attraction </h2>

        {% if error_msg %}
        <div>
            {{ error_msg }}
        </div>
        {% endif %}


        {% if places %}
            {% for place in places %}
            <span class="name-text"> 이름 : </span> <span class="name-text">{{ place.name }} </span> <br>
                <form action="{% url 'MapUrl' %}" method="post">
                    {% csrf_token %}
                    <input id="Serch_input" name="dest_location" type="text" value="{{ place.location }}" readonly>
                    <button id="Travel" type="submit" name="map" value="visual">경로 시각화</button>
                </form>    
                <hr>
            {% endfor %}

        {% else %}
            <p>검색된 결과가 없습니다.</p>

        {% endif %}

        <hr>

        <h2>Restaurant</h2>
        {% if restaurants %}
            {% for restaurant in restaurants %}
            <span class="name-text">이름 : </span><span class="name-text">{{ restaurant.name }} </span> <br>
            <form action="{% url 'MapUrl' %}" method="post">
                {% csrf_token %}
                <input id="Serch_input" name="dest_location" type="text" value="{{ restaurant.location }}" readonly>
                <button id="Travel" type="submit" name="map" value="visual">경로 시각화</button>
            </form>    
            <hr>
            {% endfor %}

            {% else %}
            <p>검색된 결과가 없습니다.</p>

        {% endif %}

        <hr>

        <h2>Cafe</h2>
        {% if cafes %}
            {% for cafe in cafes %}
            <span class="name-text">이름: </span> <span class="name-text"> {{ cafe.name }}</span> <br>
            <form action="{% url 'MapUrl' %}" method="post">
                {% csrf_token %}
                <input id="Serch_input" name="dest_location" type="text" value="{{ cafe.location }}" readonly>
                <button id="Travel" type="submit" name="map" value="visual">경로 시각화</button>
            </form>    
            <hr>
            {% endfor %}

            {% else %}
            <p>검색된 결과가 없습니다.</p>
            
        {% endif %}

        <h3>{{name}}님의 이전 검색 리스트</h3> <hr>    
        {% if search_places %}
            {% for search in search_places %}
                <h3>이름 : {{ search.name }}</h3> 
                <h3>주소 : {{ search.location }} </h3> <hr>
            {% endfor %}

        {% else %}
            <h3>이전 검색 기록이 없습니다.</h3>
        {% endif %}
    {% else %}
    <h1>로그인 먼저 진행하세요.</h1>
    {% endif %}
</body>
</html>